.van,.pick-up,.car,.minivan{
  text-align: center;
}
.van:hover,.pick-up:hover,.car:hover,.minivan:hover{
  background-color: #ADD8E6;
}
.deluxe,.deluxe1,.deluxe2,.deluxe3,.premium,.premium1,.premium2,.premium3,.platinum,.platinum1,.platinum2,.platinum3{
  text-align: center;
  border: 0.5px solid black;
  width: 370px;
  height: 350px;
  padding: 30px 20px;
  justify-content: space-around;
}
ul{
  list-style-type: none;
}
